<form action="/sign_in">
  Email:<br>
  <input type="text" name="email"><br>
  New Password:<br>
  <input type="text" name="password"><br>
  Confirm New Password:<br>
  <input type="text" name="password"><br>
  Current Password:<br>
  <input type="text" name="password"><br>
  <input type="submit" value="Submit">
</form>