<form action="/users/sign_in">
  Email:<br>
  <input type="text" name="email"><br>
  Password:<br>
  <input type="text" name="password"><br>
  Confirm Password:<br>
  <input type="text" name="password">
  <input type="submit" value="Submit">
</form>