<h1>Edit a specific peep</h1>
<form action="/peeps/<%= @peep.id %>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">
  Enter your peep:<br>
  <textarea rows="4" cols="50" type="text" name="content">
    <%= @peep.content %>
  </textarea>
  <input type="submit" value="Update">
</form>
<a href="/peeps/<%= @peep.id %>">Back</a>