<h1>List of all peeps</h1>
  <form action="/peeps/new">
    <input type="submit" value="New">
  </form>
<%@peeps.each do |peep| %>
  <h2>
    <%= peep.content %>
  </h2>
  <form action="/peeps/<%= peep.id%>">
    <input type="submit" value="View">
  </form>
<!--  <a href="/peeps/<%#= peep.id%>/edit">Edit</a> |-->
  <form action="/peeps/<%= peep.id %>/delete" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete">
  </form>
<% end %>
