<h1>Create a new peep</h1>
<form action="/peeps" method="POST">
  Title:<br>
  <input type="text" name="title"><br>
  Content:<br>
  <textarea type="text" name="content" placeholder="what do you want to say"></textarea>
  <input type="submit" value="Submit">
</form>