<head>
  <title>chitter</title>
</head>
<body>
  <div>
    <nav>
      <a href="/user/sign_in">Sign in</a>
      <a href="/user/sign_up">Sign up</a>
      <a href="/">Home</a>
    </nav>
    <%= yield %>
  </div>
</body>