<title>Chitter Login/Sign Up</title>
<h1>This is the login page</h1>
<div></div>
<h2>Log in</h2>
<form method="post" action="/login/new">
  <input type="text" name="username" placeholder="Username" />
  <input type="text" name="password" placeholder="Password" />
  <input type="submit" value="Submit" />
</form>
<div></div>
<h2>Sign up</h2>
<form method="post" action="/login/sign_up">
  <input type="text" name="su_user_name" placeholder="Sign up Username" /><br>
  <input type="text" name="su_password" placeholder="Sign up Password" /><br>
  <input type="text" name="su_email" placeholder="Sign up email" /><br>
  <input type="submit" value="Sign up Submit" />
</form>

<ul>
  <li><a href="index">index</a></li>
  <li><a href="login">login</a></li>
  <li><a href=""></a></li>
</ul>